GODADDY_CLIENT_ID=<from gddy platform app init>
GODADDY_CLIENT_SECRET=<from gddy platform app init>
GODADDY_WEBHOOK_SECRET=<from gddy platform app init>
GODADDY_PUBLIC_KEY=<from gddy platform app init>
PORT=3000
